.container{
    
    float: left;
    margin: 20px;
    
}
.card{
    border: 0.5px solid #0002;
    height: 400px; 
    width: 350px;
    margin: 10px auto; 
    background-image: linear-gradient(#e8a66c50,#d8765950);
    border-radius: 5px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

} 
.card:hover{
    box-shadow: 0 0 9px 1px #0005;
}
.parent-card{
   float: left;
    width: 100%;
    
} 

 @media (min-width:774px){
    .parent-card{
        width: 50%;
    } 
} 
 @media (min-width:1136px){

    .parent-card{
        width: 33%;
    } 
}

/* @media (min-width:1508px){
    .parent-card{
        width: 30%;
    } 
}  */
.about div{
padding: 5px;
 text-align: center; 
}
.doctor-name{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.doctor-specialization{
    font-weight: 500;
    border-radius: 20px;
    background-color:#d8765980; 
}
.book-btn{
    width: 75%; 
}
.docimg{
    border-radius: 50%; 
}

